* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem var(--focus-ring);
    border-radius: 0.25rem;
}

html {
    font: var(--font-text);
    font-size: 0.9rem;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga' 0, 'calt' 1;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: var(--bg);
    color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font: var(--font-headings);
    color: var(--headings-color);
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

article {
    width: 50%;
    margin: 6% 25%;
}

@media (max-width: 350px) {
    html {
        font-size: 0.8rem;
    }
    article {
        width: 90%;
        margin: 15% 5%;
    }
}

@media (max-width: 768px) {
    article {
        width: 80%;
        margin: 15% 10%;
    }
}

@media (min-width: 1900px) {
    html {
        font-size: 1.5rem;
    }
}

@media (min-width: 2500px) {
    html {
        font-size: 2rem;
    }
}

@media (min-width: 3000px) {
    html {
        font-size: 2.5rem;
    }
}

@media (min-width: 3400px) {
    html {
        font-size: 3rem;
    }
}

strong {
    font-weight: 600;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 1.875rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.125rem;
}

h6 {
    font-size: 1rem;
}

p,
a,
ul,
ol,
li {
    font-size: 1rem;
}

q,
kbd,
mark,
blockquote cite,
q cite {
    font-size: 0.9rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
blockquote,
q,
pre {
    margin: 1rem 0 1.25rem 0;
}

hr {
    width: 8rem;
    margin: 1.5rem auto;
    height: 0.15rem;
    border: none;
    background: var(--horizontal-rule-color);
}

ul,
ol {
    margin: 0.5rem 1.5rem;
}

li {
    margin: 0.2rem 0;
}

pre {
    line-height: 1.375;
    background: var(--code-block-bg);
    border-radius: 0.25rem;
    overflow: auto;
    letter-spacing: 0.05em;
    padding: 1.5rem 1.75rem;
    font: var(--font-code);
}

pre code {
    font: var(--font-code);
    background: none;
    color: var(--code-block-color);
    padding: 0;
}

pre code::before,
pre code::after {
    content: '';
}

pre code * {
    font: inherit;
}

code {
    font: var(--font-code);
    background: var(--code-span-bg);
    color: var(--code-span-color);
    padding: 0.2rem;
    border-radius: 0.2rem;
}

code::before,
code::after {
    content: '\`';
}

mark {
    padding: 0.2rem;
}

a {
    color: var(--primary);
    text-decoration: none;
}

a[data-external]:after {
    display: inline-block;
    content: '';

    width: 1em;
    height: 1em;
    margin-left: 0.25em;

    background-color: var(--primary);
    -webkit-mask-image: url('/styles/external-link.svg');
    mask-image: url('/styles/external-link.svg');
}

a:hover {
    text-decoration: underline;
}

blockquote {
    background-color: var(--bg);
    border-left: 0.25em solid var(--text-color);
    padding: 0;
    padding-left: 1.5rem;
}

blockquote a {
    font-size: inherit;
}

footer h5,
footer a {
    font-size: 0.9rem;
}

::selection {
    background: var(--select-color);
}

::-webkit-selection {
    background: var(--select-color);
}

::-o-selection {
    background: var(--select-color);
}

::-moz-selection {
    background: var(--select-color);
}
